body, html, ul {  
  font-size: 8pt;
  margin: 0px;
  padding: 0px;
  text-align: left;
  font-family: "Lucida Grande" ,"SegoeUI", sans-serif;
  padding: 0 0 0 0;
  margin: 0 0 0 0; 
	box-model:border-box;
}

html {   
	background-color:      rgb(102, 102, 102);
	background-image:      url(../img/background-gradient.png);
	background-attachment: fixed;
	background-position:   bottom right;
	background-repeat:     repeat-x;
}

table {
	font-size: 100%;
}

/** Lists */
ul {
	list-style: none;
}

/** Links */
a {
	text-decoration: none;
	color: rgb(96, 120, 67);
}

a:hover {
	color: rgb(143, 179, 100);
	text-decoration: underline;
}

img {
  border: none;
}

/** Logo */
#header-logo {
	position: fixed;
	bottom:   1ex;
	left:     1ex;
	display:  block;
}

/**
 * Buttons:
 * The buttons use css to give a rounded border, and a background image for the gradient.
 * In the case of older browsers, they ignore the rounded corners, but do pick up the gradient, so
 * all is still well in the world.
 */
input.button,
input:hover.button,
input:active.button,
a:hover.button,
a:active.button,
a.button {
	display:inline-block;
	box-model:border-box;
	border: 1px solid rgb(168,168,168);
	border-bottom: 1px solid rgb(96,96,96);
	border-right: 1px solid rgb(128,128,128);
	font: 500 1.3rem/1.6rem lucida grande, segoeUI ;
	display:inline-block;
	padding:0.2rem 0.5rem;
	color:rgb(64,64,64);
	/*margin: 0.5rex 0.5rex 0.5rex 0.5rex;*/
	margin: 0px 3px 6px 0px;
	min-width:  5rem;
	min-height:1rem;
	text-align:center;
	background-image: url(../img/button-gradient.png);
	background-repeat:repeat-x;
	background-position:right top;
	text-decoration: none;
	border-radius:0.2rem;
}
input:hover.button,
a:hover.button
{ 
	border: 1px solid rgb(96,120,67);
	/*border-bottom: 1px solid rgb(64,64,64);
	border-right: 1px solid rgb(64,64,64);*/
	background-color: rgb(242,255,226);
	color:rgb(0,0,64) !important; 
}
input:active.button,
a:active.button
{ 
	border: 1px solid rgb(128,128,128);
	border-bottom: 1px solid rgb(96,96,96);
	box-shadow: inset   2px 2px 7px rgba(50, 50, 50, 0.75);
	background-color: rgb(215,215,215);
	color:rgb(0,0,0) !important;
}

span a:first-child.button,
div a:first-child.button
{ 
	border-top-left-radius:0.4ex;
	border-bottom-left-radius:0.4ex;
}

span a:last-child,
div a:last-child
{ 
	border-top-right-radius:0.4ex;
	border-bottom-right-radius:0.4ex;
	border-right-width:1px;
}

/** Boot */
#loadMessage {
	color: white;
	text-align: center;
	margin-top: 100px;
}

/** Menu */
#menu *, #menu{
  box-sizing: border-box; 
}

#menu {
	font:           1rem/1.2rem "Lucida Grande" ,"SegoeUI", sans-serif;
	background:     rgb(240,240,240) url(../img/button-gradient.png) repeat-x;
	color:          rgb(96,96,96);
	position:       fixed;
	top:            4px; 
	left:           4px;
	right:          4px;
	z-index:        30;
	border:         1px solid rgb(96,96,96);
	border-bottom:  1px solid rgb(32,32,32);
	box-shadow:     0px 1px 2px rgba(50, 50, 50, 0.6);
	border-radius:  0.2rem;
	margin:         0;
	padding:        0;
}

#menu li
{
	float:         left;
	display:       block;
	position:      relative;  
	cursor:        pointer;         
}

#menu  li ul
{
	top:               100%;
	left:              0px;
	padding:           5px 0px;
	position:          absolute;
	background-color:  rgb(240,240,240);
	border:            1px solid rgb(200,200,200);
	width:             auto;
	height:            auto;
	display:           none;
	box-shadow:        2px 2px 7px rgba(50, 50, 50, 0.75);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px
	border-bottom-left-radius: 5px;
}

#menu li:hover ul {            
	display:            block;
	z-index:            5;
}

#menu li ul li {
	display:           block;
	position:          static;
	min-width:         15em;
	float:             none;
}

#menu ul {
	height:            2.2em;
	background-color:  rgb(255,255,255);
	border-bottom:     1px solid rgb(0,0,0);
	padding-left:      6em;
}
 
#menu li a {
	color:           rgb(64,64,64);
	text-decoration: none;
	padding:         1ex 2ex;
	display:         block;
}

#menu li:hover a, #menu li:hover ul li a:hover {
	color:  rgb(0,0,96);
	border: 0;
}
 
#menu li:hover {
	background-color: rgba(255,255,255,0.5);
	z-index: 200;
}

#menu div.divider {
	width: 100%;
	height: 1px;
	background: rgb(128,128,128);
}

/** Windows and dialogs */
#steplist, #startup, #plugins {
  counter-reset: line-number;
  margin-top: 40px;
  margin-left: 80px;
  margin-right:1em;
  display:block;
  min-height:100%;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom:1em;
  background: white;
  border-left:1px solid rgb(32,32,32);
  border-bottom:1px solid rgb(32,32,32);
  box-model:border-box;
  box-shadow: -.1em 0em 1em rgba(0,0,0,0.5), inset 0 0 2rem rgba(0,0,0,0.1);  
}

/** Plugins */
#plugins-list {
	display: block;
	overflow: auto;
	height: 300px;
}

#plugins-list li {
	padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom:0.25em;
  border: 1px solid rgb(128,128,128);
  box-model:border-box;
  box-shadow: -.02em 0em 0.2em rgba(0,0,0,0.5), inset 0 0 2rem rgba(0,0,0,0.1);
	margin-bottom: 5px;
	margin-right: 5px;
}

#plugins-list .pluginHeader {
	margin-bottom: 0.5em;
}

#plugins-list .pluginDescription {
	margin-bottom: 0.5em;
}

#plugins-list .installed {
	background: rgb(242, 255, 226);
}

#plugins-list .disabled {
	background: rgb(220, 220, 220);
}

#plugins-list .not_installed {
	background: white;
}

#plugins-list .pluginName {
	font-weight: bold;
}

#plugins-list .pluginStatus:before {
	content: " ";
}

#plugins-list .pluginStatus {
	color: #666666;
}

/** Startup */
.cookie-warning {
  color: #aa0000;
}

#startup * {
	box-model:border-box;
}
h1 {
	color: rgb(64, 64, 64);
	margin: 0px;
	margin-bottom: 3px;
}

#startup ul {
	border-top:1px solid  rgba(0,0,0,0.3);
	padding:0;
	margin:0;
	list-style:none;
	padding: 0;
}

#startup li, .startrecording {
	font: 500 1.3rem/1.6rem lucida grande, segoeUI ;
  margin:0;
}
#startup li {
	padding:0.5rem 3rem;
  border-bottom:1px dotted rgb(128, 128, 128);
}
.startrecording {
	padding:0.5rem 4.15rem;
}
#startup li:hover {
	background-color:rgb(242, 255, 226);
}
#startup li a {
	display: block;
	color: black;
}
#startup li:hover a {
	text-decoration: none;
}
#startup form {
	display: inline;
}


/** Dialogs */
#dialog-attachment-point {
	position: fixed;
	z-index:5;
	top:1em;
	right:2em;
}

.dialog {
	background-color: rgba(255,255,255,0.9);
	border: 1px solid rgb(210,210,210);
	border-radius: 0.5rem;
	box-shadow: 0 0 0.5rem rgba(0,0,0,0.3) ;
	padding: 1rem;  
}

.dialog form ul {
	min-width: 20em;
	padding: 1rem;
	margin:1rem;
	width:100%;
}


/** Steps */
texta {
	width:100%;
}

#steps-top {
	position:relative;  
}

#steps-footer {
	height: 1rem;
	background-color:rgb(250, 250, 250);
}

.b-step {
  position: relative;
}

.b-step-content, .b-baseurl {
  border-top: 1px dotted rgb(128,128,128);
  padding: 0.3rem 0.1rem;
}

.b-step-container {
  padding-left: 2.2rem;
}

/* Compensate for b-baseurl not being wrapped in b-step and its label being wider. */
.b-baseurl {
  margin: 2px;
  margin-left: 102px;
}

.b-step-number:before {
  position: absolute;
  left: 0;
  width:2.2 rem;
  text-align:right;
  padding-right:0.5rem;
  content: counter(line-number) ". ";
  counter-increment: line-number;
  color: rgb(150,150,150);
}

.b-method {
  color: black;
  margin-right: 0.5em;
  font-weight: bold;
  position:relative;
}

.b-param-row {
  display: block;
}

.b-param-type {
  margin-right: 0.5em;
  color: rgb(50, 50, 50);
  text-decoration:underline;
}

.b-param {
  color: rgb(50, 50, 50);
}

.b-param-input {
  width: 20em;
}

.b-param-input {
  margin-top: -5px;
  margin-bottom: -5px;
}

.b-method:hover, .b-param:hover, .b-param-type:hover {
  text-decoration: none;
	color: rgb(96, 120, 67);
}

.b-step-error, .b-step-warning, .b-step-message {
  display: block;
  margin-top: 5px;
  font-style: italic;
}

.b-alt-locators {
  margin-top: 10px;
}

/** Tasks */
.b-step .b-tasks {
  display: none;
}

.b-step:hover .b-method:before {
  position: absolute;
  left: -12px;
  width:15px;
  height:30px;
  top:50%;
  margin-top: -15px;
  text-align:right;
  padding-right:0.5rem;
  content: " ";
  background:url(../img/menuarrow.png) no-repeat center left;
  z-index:1001;
}

.b-step:hover .b-tasks {
  background-color:white;
  padding: 3px;
  border-radius: 5px;
  border:1px solid black;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0,0,0,0.5);
  display: block;
  position: absolute;
  top: 0rem;
  margin:0rem;
  margin-top:-0.5rem;
  padding-bottom:1rem;
  left:-86px;/* into the grey space*/
  z-index: 1000;
  width:91px; 
  box-model:border-box;
}

.b-step:hover {
  /*background-color: rgb(242, 255, 226);*/ /* qqDPS Can't get this to work with recoloring the steps. */
  border-radius: .2rem;
}

.b-tasks .b-task {
  display: block;
  padding: 2px;
}

/** Type chooser */
table.cat-table {
  background-color: #eeeeee;
  padding: 5px;
  margin: 2px;
	font-size: 100%;
}

table.cat-table td {
  vertical-align: top;
}

table.cat-table li {
  list-style: none;
}

.selected-cat {
  font-weight: bold;
}

.selected-type {
  font-weight: bold;
}

.cat-list {
  margin: 0px;
  padding: 0px;
  margin-right: 10px;
}

.cat-list li {
	border-bottom:1px dotted rgb(128, 128, 128);
}

.type-list {
  margin: 0px;
  padding: 0px;
  margin-right: 10px;
}

.type-info {
  background-color: white;
  border: 1px solid #aaaaaa;
  margin: 0px;
  padding: 3px;
}

.type-info-head {
  font-weight: bold;
}

.type-info-longparam {
  margin-left: 5px;
  padding-left: 0px;
}

#record-spinner {
	float: right;
}